*{
padding: 0;
margin: 0;
}
header{
background: black;
list-style-type: none;
padding: 80px;
width: 95%;
}
aside{
background: grey;
padding: 30px;
width: 100%;
}
section{
padding: 20px;
width: 50%;
}
article{
padding: 20px;
width: 50%;
font-family:CASTELLAR;
}
.btn-neon{
position: relative;
display: inline-block;
padding: 20px;
color: grey;
letter-spacing: 15px;
font-size:30px;
font-family:Old English text MT;
text-decoration: none;
overflow:hidden;
transition: 0.2s;
}
.btn-neon:hover{
background:black;
box-shadow: 0 0 10px yellow, 0 0 40px
yellow, 0 0 80px yellow;
transition-delay: 0.5s;
}